<ul class="list-group list-group-flush mb-3">
  <li class="list-group-item d-flex justify-content-between p-0">
    <span>Engine (cc)</span> <strong><%= desc.engine_cc %></strong>
  </li>
  <li class="list-group-item d-flex justify-content-between p-0">
    <span>Torque (Nm)</span> <strong><%= desc.engine_nm %></strong>
  </li>
  <li class="list-group-item d-flex justify-content-between p-0">
    <span>Power (hp)</span> <strong><%= desc.engine_hp %></strong>
  </li>
</ul>