<ul class="list-group list-group-flush mb-3">
  <li class="list-group-item d-flex justify-content-between p-0">
    <span>Range (km)</span> <strong><%= desc.range_km %></strong>
  </li>
  <li class="list-group-item d-flex justify-content-between p-0">
    <span>Helmet included?</span> <strong><%= desc.helmet_included? ? "Yes" : "No" %></strong>
  </li>
  <li class="list-group-item d-flex justify-content-between p-0">
    <span>Seat storage (L)</span> <strong><%= desc.seat_storage %></strong>
  </li>
</ul>