<div class="d-flex justify-content-center my-4">
  <% if flash[:notice] %>
  <div class="alert alert-success" role="alert" role="alert" data-mdb-color="success" data-mdb-alert-init="" id="success_flash" data-mdb-alert-initialized="true">
    <%= flash[:notice] %>
  </div>
  <% end %>

  <% if flash[:alert] %>
  <div class="alert alert-dismissible fade show alert-danger" role="alert" data-mdb-color="danger" data-mdb-alert-init="" id="danger_flash" data-mdb-alert-initialized="true">
    <%= flash[:alert] %>
  </div>
  <% end %>

  <% if flash[:info] %>
  <div class="alert alert-info" role="alert" role="alert" data-mdb-color="info" data-mdb-alert-init="" id="info_flash" data-mdb-alert-initialized="true">
    <%= flash[:info] %>
  </div>
  <% end %>
</div>