<div class="row justify-content-between">
  <div class="col-md-8">
    <h2 class="mb-4 fw-bold text-primary text-start"><%= title %></h2>
  </div>
  <div class="col-md-4 text-end">
    <%= link_to btn_label, path, class: "btn btn-success" %>
  </div>
</div>