<div class="mb-2">
  <h4><%= product.product_type.name %> Specs</h4>
  <% if product.car? %>
  <%= render "products/car_specs/view", desc: product.car_description %>
  <% elsif product.motorcycle? %>
  <%= render "products/motorcycle_specs/view", desc: product.motorcycle_description %>
  <% elsif product.scooter? %>
  <%= render "products/scooter_specs/view", desc: product.scooter_description %>
  <% end %>
</div>