<div class="mb-2">
  <h5 class="mb-3"><%= product.product_type.name %> Specifications</h5>
  <% if product.car? %>
  <%= render "products/car_specs/view", desc: product.description %>
  <% elsif product.motorcycle? %>
  <%= render "products/motorcycle_specs/view", desc: product.description %>
  <% elsif product.scooter? %>
  <%= render "products/scooter_specs/view", desc: product.description %>
  <% end %>
</div>