<ul class="list-group list-group-flush mb-3">
  <li class="list-group-item d-flex justify-content-between p-0">
    <span>Seats</span> <strong><%= desc.seats %></strong>
  </li>
  <li class="list-group-item d-flex justify-content-between p-0">
    <span>Transmission</span> <strong><%= desc.transmission&.capitalize %></strong>
  </li>
  <li class="list-group-item d-flex justify-content-between p-0">
    <span>Car Type</span> <strong><%= desc.car_type&.capitalize %></strong>
  </li>
</ul>